<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Search" type="Ingeniux.Search.Configuration.IndexingConfiguration, Ingeniux.Search" />
	</configSections>
	<Search indexLocation="App_Data\LuceneIndex"
					indexingEnabled="false">
		<Hiliter startTag="&lt;strong&gt;" endTag="&lt;/strong&gt;" />
		<IndexingSources>
			<!--<add name="IntranetCartella"
					 type="Cartella.Search.CartellaSearchSource"
					 settingsFile="App_Data\cartellaSearchSource.config" />
			<add name="IntranetPublicContent"
					 type="Ingeniux.Runtime.DssContentSearchSource"
					 settingsFile="\\intranet\pub\settings\searchSource.config" />
			<add name="SupportPublicContent"
					 type="Ingeniux.Runtime.DssContentSearchSource"
					 settingsFile="\\support\pub\settings\searchSource.config" />
			<add name="IntranetDirectory"
					 type="Cartella.Search.LdapSearchSourceSource"
					 settingsFile="App_Data\ldapSearchSource.config" />-->

			<!--<add name="PublicContent"
					 type="Ingeniux.Runtime.DssContentSearchSource"
					 settingsFile="G:\ProductDev\Dev_Trunk\CMS_Site\App_Data\xml\Pub\Live\settings\SearchSource.config" />-->   
		</IndexingSources>
		<SearchProfiles>
			<!--<add name="Intranet">
				<Sources>
					<add name="IntranetCartella" />
					<add name="IntranetPublicContent" />
					<add name="IntranetDirectory" />
				</Sources>
			</add>-->
		</SearchProfiles>
	</Search>
</configuration>